body{
    min-height: 100vh;
    min-width: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin:0;
}

p, h3, h6{
    padding: 0px;
    margin: 0px;
}

.choices > div:hover, .scores > div:hover, .right-content:hover{
    cursor: pointer;
    opacity: 0.8;
}

.choices > div:active, .scores > div:active, .right-content:active{
    opacity: 0.6;
}

body > div{
    padding: 0px 50px;
}

.nav{
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 20px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.header{
    height: 70px;
    padding: 10px 0px;
    background-color: rgb(207, 207, 207);
    font-size: 17px;
}

.main, .header{
    padding-right: 130px;
    padding-left: 130px;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
}

.main div{
    justify-content: center;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.choices, .scores{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.choices > div, .scores > div{
    height: 170px;
    width: 170px;
    background-color: white;
    border-radius: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    font-size: 40px;
    font-weight: bold;
}

#score{
    font-size: 50px;
}

@media(max-width: 720px){
    .nav, .main, .header, .footer{
        padding-left: 20px;
        padding-right: 20px;
    }

    .choices{
        flex-wrap: wrap;
    }

    .choices > div, .scores > div{
        width: 120px;
        height: 120px;
        font-size: 30px;
        gap:10px;
    }

    .header{
        flex-direction: column;
        gap: 10px;
    }
}

.commentary{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: 500;
}

.footer{
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 20px 130px;
    text-align: center;
}

a{
    color: white;
}

a:hover{
    text-decoration: none;
}
